amqp
asgiref
beautifulsoup4
billiard
boto3
botocore
CacheControl
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cryptography
Django
django-ckeditor
django-cors-headers
django-debug-toolbar
django-filter
django-js-asset
django-ratelimit
django-redis
djangorestframework
djangorestframework_simplejwt
drf-yasg
firebase-admin
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
idna
inflection
jmespath
kombu
msgpack
oauthlib
packaging
pillow
prompt_toolkit
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
redis
requests
requests-oauthlib
rsa
s3transfer
six
soupsieve
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth